<mat-toolbar color="primary">
  

  <mat-toolbar-row>
    <span>JAS | Estaca Belén</span>
    <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="boton-menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>account_balance</mat-icon>
                <span>Estaca</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Asturias I</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Asturias II</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Sabaneta</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Envigado</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Guayabal</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Belén</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Buenos Aires</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Floresta</span>
            </button>
            <button mat-menu-item >
                <mat-icon>near_me</mat-icon>
                <span>Robledo</span>
            </button>
            <button mat-menu-item >
                <mat-icon>work</mat-icon>
                <span>Gestiones</span>
            </button>
          
        </mat-menu>
  </mat-toolbar-row>


</mat-toolbar>