<app-menu class="adelante"></app-menu>
<div style="height:10%"></div>
<mat-card class="example-card" style="">
<div class="separador" style="margin-top:2%;margin-bottom:10%">
  <canvas id="pieChart"></canvas>
</div>
  <mat-card-header>
    <mat-card-title>Llamamientos</mat-card-title>
    <mat-card-subtitle>Por Barrio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <mat-list >
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="item-barrio">
            <span class="nombre-barrio">Robledo</span> 
            <span class="alcance-barrio">10/12</span> 
            <span class="icon-barrio">
            <mat-icon >sentiment_very_satisfied</mat-icon>
            </span> 
        <mat-divider></mat-divider>
        </div>
    </mat-list-item>
    </mat-list>
 </mat-card-content>
</mat-card>
