<app-menu></app-menu>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Llamamientos</mat-card-title>
    <mat-card-subtitle>Por Barrio</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
  <mat-list >

  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    <mat-divider></mat-divider>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item>
    <div class="item-barrio">
        <span class="nombre-barrio">Robledo</span> 
        <span class="alcance-barrio">10/12</span> 
        <span class="icon-barrio">
        <mat-icon >sentiment_very_satisfied</mat-icon>
        </span> 
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
 </mat-card-content>
</mat-card>
