.example-card {
  max-width: 100%;
  margin: 1%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.item-barrio{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.nombre-barrio{
width: 75%;
}

.alcance-barrio{
width: 20%;
text-align: center;
}

.icon-barrio{
    width: 5%;
    text-align: center;
}

